
h1 {
    text-transform: uppercase;

	color: green ;
	font-size: 50px
}

p{
    align-content: center;
    background: khaki;
}

img {
	border-radius: 40px; 
	width:40%;
	height: 10% ;
}

body{
	font-family: : Arial;
	background-image: url1("https://www.google.co.il/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjG7O2ezo7XAhWJKVAKHfZECEMQjRwIBw&url=https%3A%2F%2Fgenius.com%2FBlackbear-deadroses-lyrics&psig=AOvVaw3lv02FRqqz_-hzXqwz8PNW&ust=1509118389751654");
}